<section class="flex flex-col-reverse md:flex-row gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-3 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Jared García, pero mis seres cercanos me llaman Yeye. Si estás
      aquí, es porque tienes interés en conocerme un poco más. <strong>
        Permíteme compartirte mi visión y principios que guían mi trabajo.
      </strong>
    </p>
    <p>
      Me respaldo en cuatro <strong>
        pilares fundamentales para mí: Institucionalidad, Transparencia,
        Creatividad y Empatía.
      </strong> Dedico todo mi esfuerzo a cumplir con estos ejes, ya que creo firmemente
      en la importancia de un trabajo organizado, con protocolos bien establecidos
      y claros. La transparencia es clave, ya que refleja la calidad del desarrollo
      que ofrecemos como profesionales.
    </p>
    <p>
      La creatividad es mi motor, siendo la fuente de cada innovación y no menos
      importante, la empatía. Entiendo que, sin ponernos en el lugar del
      usuario, compañero o jefe, no podremos entregar excelencia. Creo
      tajantemente en el poder de conectar con la necesidad de los demás para
      que nuestras soluciones de software no solo sean eficientes, sino
      significativas por igual. Creo en el trabajo inteligente. A través del
      fruto de mi esfuerzo, busco no solo crear software útil, sino también
      facilitar la vida de los usuarios.<strong>
        Mi objetivo es que las personas disfruten del fruto de mi esfuerzo y
        encuentren en mi trabajo una herramienta para ellos.
      </strong>
    </p>
  </div>
  <img src="/Ing jared garcia.webp" class="rounded-full w-80 h-[20rem] order-1 md:order-2"/>
</section
