---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "1 year | Working on...",
    title: "Freelancer | BI & Web Development",
    description: `As a Freelancer in BI & Web Development, I collaborate with clients, delivering customized web solutions and creative, user-friendly interfaces. I enhance marketing efforts through Business Intelligence strategies, utilizing data extraction and analysis. Staying updated on industry trends, I autonomously manage project timelines, ensuring timely delivery and client satisfaction.`,
  },
  {
    date: "2023 - 2024 | 3 months",
    title: "Grupo Cimarron | Eng. Data Analyst ",
    description: `Facilitated client engagements for market research, identifying key data points and requirements for analysis. Utilized Python to develop scripts in Jupyter, enabling efficient handling and manipulation of datasets. Applied statistical methods to analyze data, aligning outcomes with defined objectives and KPI planning. Automated data workflows using Python scripts integrated into Apache Airflow, enhancing operational efficiency. Developed and implemented visually compelling data visualizations and graphs, aiding clients in understanding complex datasets. Designed and executed ETL processes for various data sources, including APIs, databases, and documents.`,
  },
  {
    date: "2023 | 3 months ",
    title: "Axios Mobile | Eng. Frontend Developer",
    description: `Specialized in creating modern and user-friendly interfaces for web applications,
focusing on enhancing usability and overall user experience.
Contributed to the development of web apps with a keen eye for design, ensuring
the alignment of visual elements with the company's usability goals.`,
  },
  {
    date: "2022-2023 | 6 months ",
    title: "Datazone | Analyst programmer | Engineering Residence",
    description: `Played a pivotal role in debugging and fixing software code tools, ensuring the
stability and efficiency of applications.
Contributed an internal web application for the sales control department,
streamlining processes and contributing to improved workflow efficiency.`,
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">{<ExperienceItem {...experience} />}</li>
    ))
  }
</ol>
