---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "1 año | Actualmente...",
    title: "Maestro de idiomas | Universidad Vizcaya de las Américas",
    description: `Como maestro de idiomas he tenido la oportunidad de enseñar a estudiantes de diferentes niveles de Italiano, desde básico hasta intermedio. He desarrollado habilidades de comunicación y empatía para poder transmitir conocimiento de manera efectiva. He implementado estrategias de enseñanza innovadoras para mantener a los estudiantes motivados y comprometidos con su aprendizaje. Además, he trabajado en la creación de materiales didácticos y en la evaluación del progreso de los estudiantes a través de sistemas de seguimiento, siendo uno de los mejores maaestros evaluados dentro de la Universidad siendo condecorado 3 veces consecutivas como docente de excelencia.`,
  },
  {
    date: "1 año | Actualmente...",
    title: "Freelancer | Desarrollo Web & Análisis de Datos",
    description: `Como desarrollador Frelance he colaborado con clientes entregando páginas web de calidad y diseños innovadores buscando siempre una interfaz intuitiva para el usuario. Parte de mis responsabilidades se han acercado al marketing digital y al analisis de datos para poder traducir estrategias de inteligencia de negocio para la toma de decisiones tanto de diseño como de optimización de procesos.`,
  },
  {
    date: "2023 - 2024 | 3 meses",
    title: "Grupo Cimarron | Ing. cientifico de datos ",
    description: `Desde investigación de mercado, pasando por identificar KPI para requerimientos de análisis de datos. El lenguaje de programación que con el que desarrolle fue Python que através de este hacía scripts capaz de extraer información de diferentes fuentes de datos obtiendo información para luego procesarla y manipularla con la finalidad de hacer un analisis de valor para el cliente. Aplicando estadistica para poder empoderar a los tomadores de decisión. Dentro de mi abanico de responsabilidades yacía la automatización de scripts con la finalidad de eficientar procesos internos y la visualización correcta de la información a través de gráficas que diseñaba e implementaba con PowerBI.`,
  },
  {
    date: "2023 | 3 meses ",
    title: "Axios Mobile | Ing. Desarrollador Frontend",
    description: `Especialziado en crear interfaces modernas busanco que sean útiles y cómodas para el usuario en una aplicación web siempre centrando mis esfuerzos en la usabilidad y superar las espectativas del usuario. Contribuí en el diseño de interfaces de acuerdo al branding de Axios Mobile.`,
  },
  {
    date: "2022-2023 | 6 meses ",
    title: "Datazone | Programador Analista | Prácticas de ingenieria",
    description: `Jugue un rol importante al debugear y reparar herramientas de software internas al hacer refactorización de código, teniendo como meta la eficiencia de las aplicaciones. Contribuí al desarrollo de una aplicación interna para ventas buscando la recopilación correcta de la información.`,
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">{<ExperienceItem {...experience} />}</li>
    ))
  }
</ol>
