<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
  <nav class="flex flex-row gap-x-10 opacity">
    <a href="/">Home</a>
    <a href="/work">'bout me</a>
    <a href="">Projects</a>
    <a href="">'bout me'</a>
    <a href="">'Contact</a>
  </nav>
</header>
