---
import HomeIcon from "./icons/homeIcon.astro";
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 bg-[#15223d] size-10"
>
  <nav
    class="flex flex-row items-center gap-x-4 sm:gap-x-6 md:gap-x-10 p-4 md:p-6 bg-white shadow-lg"
  >
    <!-- Logo or Icon -->
    <a href="#top" class="text-gray-700 hover:text-blue-600">
      <HomeIcon class="w-6 h-6 md:w-8 md:h-8" />
    </a>
    <!-- Navigation Links -->
    <div class="hidden md:flex flex-row gap-x-6">
      <a
        href="#Experience"
        class="text-gray-700 hover:text-blue-600 font-medium">Experiencia</a
      >
      <a href="#Projects" class="text-gray-700 hover:text-blue-600 font-medium"
        >Proyectos</a
      >
      <a href="#Aboutme" class="text-gray-700 hover:text-blue-600 font-medium"
        >Acerca de mí</a
      >
    </div>
    <!-- Download Button -->
    <button
      id="downloadCv"
      class="ml-auto px-4 py-2 bg-blue-600 text-white font-medium rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-300"
    >
      Descargar
    </button>
    <!-- Mobile Menu Button -->
    <button
      class="md:hidden flex items-center justify-center w-8 h-8 text-gray-700 hover:text-blue-600 focus:ring-2 focus:ring-blue-300"
      aria-label="Toggle navigation menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </nav>
</header>

<!-- Inside your HTML file, after the button -->
<script>
  var downloadButton = document.getElementById("downloadCv");

  // Check if the element with ID 'downloadButton' exists
  if (downloadButton) {
    downloadButton.addEventListener("click", function () {
      // Replace 'path/to/your/file.pdf' with the actual path to your PDF file
      var pdfPath = "/cv_jared_garcia.pdf";

      // Create a link element
      var link = document.createElement("a");

      // Set the download attribute to force download
      link.download = "cv_jared_garcia.pdf";

      // Set the href attribute to the path of the PDF file
      link.href = pdfPath;

      // Append the link to the body
      document.body.appendChild(link);

      // Trigger a click on the link to start the download
      link.click();

      // Remove the link from the DOM
      document.body.removeChild(link);
    });
  } else {
    console.error("Element with ID 'downloadButton' not found");
  }
</script>
