---
import HomeIcon from "./icons/homeIcon.astro";
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 bg-[#15223d] h-14 md:h-16"
>
  <nav class="flex flex-row items-center gap-x-6 md:gap-x-10 px-4 md:px-8">
    <!-- Home Icon Link -->
    <a href="#top" class="flex items-center">
      <HomeIcon id="menuToggle" class="w-6 h-6 md:w-8 md:h-8 text-white" />
    </a>

    <!-- Navigation Links -->
    <div class="hidden md:flex flex-row gap-x-6 text-white">
      <a href="#Experience" class="hover:underline">Experiencia</a>
      <a href="#Projects" class="hover:underline">Proyectos</a>
      <a href="#Aboutme" class="hover:underline">Acerca de mí</a>
    </div>

    <!-- Download Button -->
    <button
      id="downloadCv"
      class="ml-auto text-white bg-blue-500 hover:bg-blue-700 px-3 py-1 rounded md:px-4 md:py-2"
    >
      Download CV
    </button>



  <!-- Mobile Menu (hidden by default) -->
  <div
    id="mobileMenu"
    class="absolute top-14 left-0 w-full bg-[#15223d] flex-col items-center gap-y-4 text-white py-4 hidden md:hidden"
  >
    <a href="#Experience" class="hover:underline">Experiencia</a>
    <a href="#Projects" class="hover:underline">Proyectos</a>
    <a href="#Aboutme" class="hover:underline">Acerca de mí</a>
  </div>
</header>

<!-- Inside your HTML file, after the button -->
<script>
  // Script to toggle mobile menu visibility
  const toggleButton = document.getElementById("menuToggle");
  const mobileMenu = document.getElementById("mobileMenu");

  if (toggleButton && mobileMenu) {
    toggleButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
      mobileMenu.classList.toggle("flex");
    });
  } else {
    console.error("Element with ID 'menuToggle' or 'mobileMenu' not found");
  }
  var downloadButton = document.getElementById("downloadCv");

  // Check if the element with ID 'downloadButton' exists
  if (downloadButton) {
    downloadButton.addEventListener("click", function () {
      // Replace 'path/to/your/file.pdf' with the actual path to your PDF file
      var pdfPath = "/Jared_Garcia_engineer_cv.pdf";

      // Create a link element
      var link = document.createElement("a");

      // Set the download attribute to force download
      link.download = "Jared_Garcia_engineer_cv.pdf";

      // Set the href attribute to the path of the PDF file
      link.href = pdfPath;

      // Append the link to the body
      document.body.appendChild(link);

      // Trigger a click on the link to start the download
      link.click();

      // Remove the link from the DOM
      document.body.removeChild(link);
    });
  } else {
    console.error("Element with ID 'downloadButton' not found");
  }
</script>
